<div ng-controller="AppHeaderCtrl">
   <div class="header">
       <div class="container">
           <div class="left-side">
               <label ng-click="routeHome()">DEMO Streaming</label>
           </div>
           <div class="right-side">
               <div class="login">
                   Login
               </div>
               <button class="trial-button">
                   Start your free trial
               </button>
           </div>
       </div>
   </div>
    <div class="sub-title">
        <div class="container">
            <label>{{titlePrefix}} {{title}}</label>
        </div>
    </div>
</div>
